/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2021, 9:24:01 PM
    Author     : ASUS
*/
.simulationGame3Back:hover{
    
    -fx-border-color:white;
    -fx-border-width: 0px 0px 8px 0px;
   
}

.simulationGame3Back:pressed{
    -fx-border-color:skyblue;
   
}
